apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentication-service

spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentication-service
  template:
    metadata:
      labels:
        app: authentication-service
    spec:
      containers:
      - name: authentication-service
        image: gargmanik6080/authentication-service:1.0.3
        imagePullPolicy: Always
        env:
        - name: DSN
          value: "host=host.minikube.internal port=5432 user=postgres password=password dbname=users sslmode=disable timezone=UTC connect_timeout=5"
        ports:
        - containerPort: 80

        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"


---

apiVersion: v1
kind: Service
metadata:
  name: authentication-service
spec:
  selector:
    app: authentication-service
  ports:
  - protocol: TCP
    name: main-port
    port: 80
    targetPort: 80